<h1>List books</h1>
<% if user_signed_in? %>
  <p> Welcome <%= current_user.email %></p>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<%end%>

<%= form_with(url: books_path, method: :get, local: true) do |form| %>
  <div class="form-field">
    <%= form.label "Title equal" %>
    <%= form.text_field "q[title_eq]"  %>
  </div>
  <div class="form-field">
    <%= form.label "Title contains" %>
    <%= form.text_field "q[title_cont]"  %>
  </div>

  <div class="actions">
    <%= form.submit "Search" %>
  </div>
<% end %>

<table>
  <tr>
    <th> id </th>
    <th> Title </th>
    <th> Completion Date </th>
    <th> Category </th>
    <th> Genre </th>
  </tr>

  <%- @books.each do |book| %>
    <tr>
      <td> <%= book.id %> </td>
      <td> <%= book.title %> </td>
      <td> <%= book.expected_completion_date %> </td>
      <td> <%= book.category %> </td>
      <td> <%= book.genre %> </td>
      <td>
        <%= link_to "Edit", edit_book_path(book) %>
        <%= link_to "Show", book_path(book) %>
        <%= link_to "Sections", book_sections_path(book) %>
        <%= link_to  "Delete", book_path(book), method: :delete, data: {confirm: "Are you sure?"} %>
      </td>

    </tr>
  <% end %>
</table>

<div>
  <%= paginate @books %>
</div>

<div>
<%= link_to  "Add new book", new_book_path %>
</div>